<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestión de Usuarios y Perfiles</title>
</head>
<body>
    <h1>Gestión de Usuarios y Perfiles</h1>
    <ul>
    	<!-- las rutas de th:href llevan a los endpoints del HomeController -->
        <li><a th:href="@{/usuarios/listar}">Ver todos los usuarios</a></li>
        <li><a th:href="@{/usuarios/formulario}">Añadir un nuevo usuario</a></li>
        <li><a th:href="@{/usuarios/bio?palabra=edad}">Primer usuario disponible</a></li>
       
    </ul>
</body>
</html>
