<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Perfil</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.perfil.bio}"></td>
                <td>
                    <a th:href="@{/usuario/{id}(id=${usuario.id})}">Ver</a>
                    <a th:href="@{/usuarios/formulario/{id}(id=${usuario.id})}">Editar</a>
                    <form th:action="@{/usuario/{id}(id=${usuario.id})}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
